<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <style>
    body{
      background-color: gray;
      color: white;
    }

    h1{
      color: blue;
    }
  </style>
</head>
<body>

  <main>
    <h1>Identifique-se!</h1>
    <form action="">
      <div>
        <label for="usuario">Usuário</label>
        <input type="text" placeholder="Usuário" name="usuario" />
      </div>
      
      <div>
        <label for="senha">Senha:</label>
        <input type="password" >
      </div>

      <input type="submit" value="Entrar...">
    </form>
  </main>
  
</body>
</html>